mypy                        # python static type checker

# Dev Tools; Not needed for distribution
pytest                      # code tester
yapf                        # code formatter
sphinx                      # documentation generator
sphinx_rtd_theme            # sphinx ReadTheDocs theme