# Dev Tools; Not needed for distribution
docutils                    # docstring collector
pytest                      # code tester
yapf                        # code formatter
Sphinx                      # documentation generator
sphinxcontrib-napoleon      # alternate rst docstring format